input{
    display: none;
}
.image-upload-container {
    cursor: pointer;
}
.img-preview{
    background-color: #f7f7f7;
    position: relative;

.img-preview{
    background: center center no-repeat;
    background-size: 116px;
    height: 116px;
}
}